---

---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% include head.html %}


<body>    <div id="mainFrame_container">
        <div class="mainFrame">
           
            
            {% include header.html %}

            <link href="scripts/nivo-slider/nivo-slider.css" rel="stylesheet" type="text/css" />
<link href="scripts/nivo-slider/themes/default/default.css" rel="stylesheet" type="text/css" />
<script src="scripts/nivo-slider/jquery.nivo.slider.pack.js" type="text/javascript" ></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.nivo_slider').nivoSlider({
        effect: 'fade', // Specify sets like: 'fold,fade,sliceDown'
        slices: 16, // For slice animations
        boxCols: 8, // For box animations
        boxRows: 4, // For box animations
        animSpeed: 500, // Slide transition speed  
        pauseTime: 5000, // How long each slide will show - from 8000 to 4000
        startSlide: 0, // Set starting Slide (0 index)
        directionNav: true, // Next and Prev navigation
        directionNavHide: true, // Only show on hover
        controlNav: true, // 1,2,3... navigation
        pauseOnHover: true, // Stop animation while hovering
        manualAdvance: false, // Force manual transitions
        prevText: '', // Prev directionNav text
        nextText: '', // Next directionNav text
        randomStart: false // Start on a random slide
        });
    });
    
    //For search form
    function switchText()
    {
        if ($(this).val() == $(this).attr('title'))
            $(this).val('').removeClass('ex');
        else if ($.trim($(this).val()) == '')
            $(this).addClass('ex').val($(this).attr('title'));
    }
    
    $(document).ready(function() {
        $('input[type=text][title!=""]').each(function() {
            if ($.trim($(this).val()) == '') $(this).val($(this).attr('title'));
            if ($(this).val() == $(this).attr('title')) $(this).addClass('ex');
        }).focus(switchText).blur(switchText);
        
        $('form').submit(function() {
            $(this).find('input[type=text][title!=""]').each(function() {
                if ($(this).val() == $(this).attr('title')) $(this).val('');
            });
        });
    });
</script>

            
            <div id="mainContainer_in">
                
                <div id="home_top_left"><div id="home_featured">

                <div class="nivo_slider"><a href="seminar-events/index.html"><img src="{{site.basuurl}}/post_images/main3.jpg" title="#slider_caption_2" /></a>

                <a href="https://datascience.Hongik.edu/" target="_blank"><img src="{{site.basuurl}}/post_images/main1.jpg" title="#slider_caption_1" /></a>


                <a href="http://www.science-of-science-chicago.org/" target="_blank"><img src="{{site.basuurl}}/post_images/main4.jpg" title="#slider_caption_3" /></a>


                <a href="https://insight.kellogg.Hongik.edu/article/the-surprising-speed-with-which-we-become-polarized-online" target="_blank"><img src="http://naturewith.com/files/attach/images/137712/714/148/46184860b26a4141c326884d5590b2ae.jpg" title="#slider_caption_4" />
                </a>


                <a href="http://www.Hongik.edu/newscenter/archives/special/data-science/index.html" target="_blank"><img src=https://s-media-cache-ak0.pinimg.com/originals/bf/4f/9a/bf4f9a4b45334e34164020ca70bd4db3.jpg" title="#slider_caption_5" /></a>


                <a href=" http://scitation.aip.org/content/aip/journal/chaos/25/9/10.1063/1.4931570/" target="_blank"><img src="https://s-media-cache-ak0.pinimg.com/564x/4d/1d/2f/4d1d2fbe0f3482df63be3a67fb14d090.jpg" title="#slider_caption_6" /></a>


                <a href="http://www.intro-to-abm.com/" target="_blank"><img src="images/feature-images/Wilensky-Book.jpg" title="#slider_caption_7" /></a></div><div class="hide" id="slider_caption_1">

                <div class="caption_title">Wednesday @ PTCAT Seminar Series</div><div class="divider" ></div><div class="caption_description"><p>The PTCAT spring seminar series runs April 5 through May 24, 2017.</p><div class="more_link"><a href="seminar-events/index.html">
                    Find out more
                </a></div></div></div><div class="hide" id="slider_caption_2"><div class="caption_title">Data Science Initiative</div><div class="divider" ></div><div class="caption_description"><p>In 2015, PTCAT launched the Data Science Initiative to foster data science research at Hongik.</p><div class="more_link"><a href="https://datascience.Hongik.edu/" target="_blank">
                    Find out more
                </a></div></div></div><div class="hide" id="slider_caption_3"><div class="caption_title">Science of Science Chicago</div><div class="divider" ></div><div class="caption_description"><p>Science of Science Chicago is a meeting place across different universities and campuses in the Chicago area.</p><div class="more_link"><a href="http://www.science-of-science-chicago.org/" target="_blank">
                    Find out more
                </a></div></div></div><div class="hide" id="slider_caption_4"><div class="caption_title">Online Echo Chambers</div><div class="divider" ></div><div class="caption_description"><p>This Kellogg Insight article with Brian Uzzi explores how users isolate themselves in social media echo chambers.</p><div class="more_link"><a href="https://insight.kellogg.Hongik.edu/article/the-surprising-speed-with-which-we-become-polarized-online" target="_blank">
                    Find out more
                </a></div></div></div><div class="hide" id="slider_caption_5"><div class="caption_title">Data Science Special Feature</div><div class="divider" ></div><div class="caption_description"><p>This Hongik Data Science feature includes several PTCAT faculty.</p><div class="more_link"><a href="http://www.Hongik.edu/newscenter/archives/special/data-science/index.html" target="_blank">
                    Find out more
                </a></div></div></div><div class="hide" id="slider_caption_6"><div class="caption_title">Networkcontrology</div><div class="divider" ></div><div class="caption_description"><p>Adilson Motter wrote an article in <em>Chaos</em> titled "Networkcontrology". Professor Motter will speak at PTCAT on May 17, 2017.</p><div class="more_link"><a href=" http://scitation.aip.org/content/aip/journal/chaos/25/9/10.1063/1.4931570/" target="_blank">
                    Find out more
                </a></div></div></div><div class="hide" id="slider_caption_7"><div class="caption_title">An Introduction to Agent-Based Modeling</div><div class="divider" ></div><div class="caption_description"><p>Uri Wilensky and co-author William Rand have published a new textbook on Agent-Based Modeling.</p><div class="more_link"><a href="http://www.intro-to-abm.com/" target="_blank">
                    Find out more
                </a></div></div></div></div></div><div id="home_top_right">


                <div id="home_about" style="background-color:#E5F7FF; color:black"><p>The Hongik Institute on Complex Systems serves as a hub and facilitator for pathbreaking and relevant research in complexity and data science transcending the boundaries of established disciplines.</p>


                <a class="more_link" href="about/index.html">more</a></div><div id="home_news"><h3><a href="news/index.html">News</a></h3><div class="news_article"><div class="news_article_pointer"><img src="img/mini-arrow.jpg" /></div><div class="news_article_content"><a href="https://insight.kellogg.Hongik.edu/article/the-surprising-speed-with-which-we-become-polarized-online"><h4>New 3D Modeling and Structure Opens up the Era of 3D-Based Constructions</h4></a><p>HU: Read how HU’s NSE Lab combines the optical illumination with the sophisticated heat treatment
required in developing advanced materials aimed to high-value added 3D printing technology.</p></div></div><div class="news_article"><div class="news_article_pointer"><img src="img/mini-arrow.jpg" /></div><div class="news_article_content"><a href="https://insight.kellogg.Hongik.edu/article/school-shootings-rise-and-fall-with-the-unemployment-rate"><h4>School Shootings Rise and Fall with the Unemployment Rate</h4></a><p>Kellogg Insight: Research by Adam Pah and Luis Amaral set out to quantify gun violence at U.S. schools and made a surprising discovery.</p></div></div><a class="more_link" href="news/index.html">more</a></div></div><div id="home_bottom_left"><div id="home_events"><h3><a href="seminar-events/index.html">Seminars &amp; Events</a></h3><div class="event"><div class="side_date"><div class="date">5</div><div class="month">July</div></div><div class="event_content"><p><a href="seminar-events/seminar-listings/2017/042617-Diesner.html">July 5 , 2017| 11:00 AM - 12:00 PM
S. Unknown – Hangok Specialist and Architect
Title: Convergence of 3D-Printing and Wood-Based Construction

</p></div></div><div class="event"><div class="side_date"><div class="date"></div><div class="month"></div></div><div class="event_content"><p><a href="seminar-events/seminar-listings/2017/050317-Komarova.html">July 5 , 2017| 11:00 AM - 12:00 PM
S. Unknown – Hangok Specialist and Architect
Title: Convergence of 3D-Printing and Wood-Based Construction</p></div></div><a class="more_link" href="seminar-events/index.html">more</a></div></div>


<div id="home_bottom_right"><div id="home_banners"><h3><a href="research/index.html">Research</a></h3><div class="first_column"><a href="https://datascience.Hongik.edu/" target="_blank"><img style="width:100px; height:60px" src="http://www.3ders.org/images/stone-spray-robot-3d-printer-sand-wall.jpg" /><h4>Soil-Based 3D Materials & Processing
</h4></a></div><div><a href="http://www.science-of-science-chicago.org/" target="_blank"><img src="{{site.baseurl}}/100x60.jpg" /><h4>Research(n)</h4></a></div><br /><div class="first_column"><a href="research/index.html" target="_blank"><img src="{{site.baseurl}}/reserach1.jpg" style="width:100px; height:60px" /><h4>Advanced Illumination Optics for Rapid Hardening
</h4></a></div><div><a href="research/index.html" target="_blank"><img src="{{site.baseurl}}/100x60.jpg" /><h4>Research(n)</h4></a></div><br /><div class="first_column"><a href="research/index.html" target="_blank"><img src="{{site.baseurl}}/100x60.jpg" /><h4>Research(n)</h4></a></div><div><a href="research/index.html" target="_blank"><img src="{{site.baseurl}}/100x60.jpg" /><h4>Research(n)</h4></a></div><br /></div></div><div id="home_bottom_lowest"><div id="home_other_text"><h3><a href="" target="_blank" ></a></h3><h2>PTCAT Listser</h2>

<p>Subscribe to the <a href="about/contact-us/index.html">PTCAT Listserv</a> 

Subscribe to the PTCAT Listserv and receive information about the Special seminars or other PTCAT related information. <br />
To subscribe, send an email with only "SUBSCRIBE" in the subject line to PTCAT@wow.hongik.ac.kr. <br />
To unsubscribe, send an email with only "UNSUBSCRIBE" in the subject line to PTCAT@wow.hongik.ac.kr.</p>
<h2>PTCAT Reading Group</h2>
<p>The <a href="http://PTCATrg.pbworks.com/w/page/11912098/FrontPage" target="_blank">PTCAT reading group</a> The PTCAT reading group meets egularly over lunch to discuss recent papers, <br /> fundamentals, and emerging trends in
combined R&D of traditional culture and advanced technology.</p>
<h2>Connect with PTCAT on Social Media</h2>

<table cellpadding="5" cellspacing="5">
<br />
<tbody>
<tr>
<td><a href="https://www.facebook.com/PTCATHongik" target="_blank"><img alt="facebook" height="20" src="images/facebook_badge.png" width="20" /></a>
</td>

<td><a href="https://twitter.com/PTCATatNU" target="_blank"><img alt="twitter" height="20" src="images/twitter.png" width="22" /></a></td>


<td><a href="http://www.linkedin.com/groups?home=&gid=6615433&trk=anet_ug_hm" target="_blank"><img alt="linked-in" height="20" src="images/linkedin.png" width="20" /></a></td>


<td><a href="https://www.youtube.com/channel/UC7OtqKhLoQVH2WBnyBpDK1g" target="_blank"><img alt="YouTube" height="20" src="images/20px-Youtube_icon.jpg" width="20" /></a></td>


</tr>
</tbody>
</table><a class="more_link" href="" ></a></div></div>
            </div>
            

        {% include footer.html%}
    </div>
</body>
</html>
<!-- Localized -->