---

---
{% include head.html %}

<link rel="stylesheet" href="{{site.baseurl}}/post.css">

<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}

<div class="sub_menu_image">

<ul style="display:flex;">
<a href="{{site.baseurl}}/gallery/index.html"><li style="color:#591A60; font-weight:bold">Structure / Building &nbsp</li></a>
<strong><a href="{{site.baseurl}}/gallery/pattern.html"><li style="color:grey; font-weight:bold">Traditional Pattern / Design &nbsp</li></a></strong>
<a href="{{site.baseurl}}/gallery/wood.html"><li style="color:grey; font-weight:bold">Wood Structure &nbsp </li></a>
</ul>

		
<ul>


</ul>

<br>


</div>


 

<!-- </div> -->
		

{% include footer.html %}
    </div>
</div>
