---

---
{% include head.html %}

<link rel="stylesheet" href="{{site.baseurl}}/post.css">

<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}

<div class="sub_menu_image">


<ul style="display:flex">
<a href="{{site.baseurl}}/gallery/index.html"><strong><li>Structure / Building</li></strong></a>
<a href="{{site.baseurl}}/gallery/pattern.html"><li>Traditional Pattern / Design</li></a>
<a href="{{site.baseurl}}/gallery/wood.html"><li>Wood Structure</li></a>
</ul>

		<div style="margin-left:30px;">
				<h3>Structure / Building</h3>
		</div>
<ul>
</li>
</ul>
<br>


</div>


  <div style="margin:20px 0px 30px 24px; width:100%; height:100%; overflow:visible" >


    {% for post in site.categories.house %}

  <div style="width:30%; height:auto; display:inline-block; margin-bottom:0px; ">
  
  	<a href="{{ post.url }}">
    <div style="width:300px; height:160px">
  	<img style="width:100%; height:auto; display:block; margin-bottom:10px" src="{{site.baseurl}}/post_images/{{post.link}}.jpg" alt="basicConstruction">
    </div>
      <p style="margin-bottom:8px; text-align: center;">
      {{ post.title }} </p>
      <p style="text-align: center;">{{post.ktitle}} </p>
      </a>
 

</div>

{% endfor %}

</div>
		

{% include footer.html %}
    </div>
</div>
