---

---
{% include head.html %}

<link rel="stylesheet" href="{{site.baseurl}}/post.css">

<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}
<div class="sub_menu_image">


<ul style="display:flex">
<a href="{{site.baseurl}}/gallery/index.html"><strong><li>Structure / Building</li></strong></a>
<a href="{{site.baseurl}}/gallery/pattern.html"><li>Traditional Pattern / Design</li></a>
<a href="{{site.baseurl}}/gallery/wood.html"><li>Wood Structure</li></a>
</ul>

		<div style="margin-left:30px;">
				<h3>Structure / Building</h3>
		</div>
<ul>
</li>
</ul>
<br>


</div>


<div style="margin:0px 0px 30px 24px; width:150px; height:150px; overflow: hidden;">
  {% for post in site.categories.structure %}
  <div style="text-align: center">
  	<a href="{{ post.url }}">
  	<img style="width:100%; margin-bottom:10px" src="{{site.baseurl}}/post_images/{{post.link}}.jpg" alt="basicConstruction">
      {{ post.title }}</a>
	</div>
  {% endfor %}
</div>

		


</div>

{% include footer.html %}
    </div>
</div>
