---

---
{% include head.html %}
<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}
<div class="sub_menu_image">
	<ul style="display:flex">
<a href="{{site.baseurl}}/gallery/index.html"><li>Structure / Building</li></a>
<strong><a href="{{site.baseurl}}/gallery/pattern.html"><li>Traditional Pattern / Design</li></a></strong>
<a href="{{site.baseurl}}/gallery/wood.html"><li>Wood Structure</li></a>
</ul>

		<div style="margin-left:30px;">
				<h3>Traditional Pattern / Design</h3>
		</div>

		<ul style="margin-top:20px">
			<strong><a href="{{site.baseurl}}/gallery/pattern.html"><li>Pattern A: Flowers & Animals </li></a></strong>
			<a href="{{site.baseurl}}/gallery/pattern2.html"><li>Pattern B: Letters </li></a>
			<a href="{{site.baseurl}}/gallery/pattern3.html"><li>Pattern C: Lattices </li></a>
		</ul>

</div>


<div class="main_image">

		<!-- <div class="image">
			<img src="{{site.baseurl}}/pattern1.jpg" alt="">
		<h3>Basic Pattern(1)</h3>
		<h4>2017 05 18</h4>
		</div> -->

		<div class="image">
			<img src="{{site.baseurl}}/post_images/f0.png" alt="{{site.baseurl}}/pattern2.jpg">
		<br>

		<h3>Flowers & Animals</h3>
		<h4>2017 05 18</h4>
		</div>

				<div class="image">
			<img src="{{site.baseurl}}/post_images/f1.png" alt="{{site.baseurl}}/pattern2.jpg">
		<br>

		<h3>Flowers & Animals</h3>
		<h4>2017 05 18</h4>
		</div>

				<div class="image">
			<img src="{{site.baseurl}}/post_images/f2.png" alt="{{site.baseurl}}/pattern2.jpg">
		<br>

		<h3>Flowers & Animals</h3>
		<h4>2017 05 18</h4>
		</div>


	</div> 

<br><br><br>
</div>

{% include footer.html %}
    </div>
</div>
