---

---
{% include head.html %}

<link rel="stylesheet" href="{{site.baseurl}}/post.css">

<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}

<div class="sub_menu_image">


<ul style="display:flex">
<a href="{{site.baseurl}}/gallery/index.html"><li>Structure / Building</li></a>
<a href="{{site.baseurl}}/gallery/pattern.html"><li>Traditional Pattern / Design</li></a>
<strong><a href="{{site.baseurl}}/gallery/wood.html"><li>Wood Structure</li></a></strong>
</ul>

		<div style="margin-left:30px;">
				<h3>Wood Structure</h3>
		</div>
<ul>
</li>
</ul>

<!-- <ul style="display:block;">
 <li style="font-size:20px;"> <h4>장부이음</h4>
  <ul style="margin-top:15px; margin-bottom:10px;">
      <li>통장부이음</li>
      <li>장부이음</li>
      <li>맞장부이음</li>
      <li>턱솔이음</li>
      <li>십자쌍장부이음</li>
      <li>주먹장부이음</li>
      <li>반턱주먹장부이음</li>
  </ul>

  <ul style="margin-top:0px;">
      <li>턱걸이주먹장부이음</li>
      <li>두겁주먹장부이음</li>
      <li>숨은주먹장부이음</li>
      <li>쌍주먹장부이음</li>
      <li>겹주먹장부이음</li>
      <li>내외주먹장부이음</li>
      <li>메뚜기장부이음</li>
  </ul>
 </li>

<!-- <br style="height:5px;"> -->

<!--   <li><h4>턱이음</h4>
  <ul  style="margin-top:15px; margin-bottom:10px;">
    
    <li>반턱이음</li>
    <li>갈퀴이음</li>
  </ul> -->


  <!-- </li> -->


 <!--  <li><h4>엇걸이이음</h4>
<ul  style="margin-top:15px; margin-bottom:10px;" >
  
  <li>엇걸이이음 </li>
 <li>엇걸이빗턱이음</li>
 <li>엇걸이촉이음 </li>
 <li>엇걸이홈이음 </li>
</ul>

  </li>

<br>

  <li><h4>빗이음</h4>
<ul  style="margin-top:15px; margin-bottom:10px;" >
<li>빗이음 </li>
<li>엇빗이음 </li>
<li>빗턱이음 </li>
<li>빗걸이이음 </li>
<li>엇턱이음 </li>
<li>반턱빗이음</li>

</ul>

  </li> 
  <li>은장이음</li>
  <li>촉이음</li>
</ul>

<ul>
  <li>장부맞춤</li>
  <li>턱맞춤</li>
  <li>숭어턱맞춤</li>
  <li>촉맞춤</li> 
  <li>연귀맞춤</li>
</ul>

<ul>
  <li>턱쪽매</li>
  <li>혀쪽매</li>
  <li>은장쪽매</li>
</ul> --> 


<h2 style="margin-left:70px;">1) 이음</h2>

<div  style="display:flex; margin:0px auto !important; width:800px;"   >

<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>장부이음</div></li>
  <li><div>통장부이음</div></li>
  <li><div>장부이음</div></li>
  <li><div>맞장부이음</div></li>
  <li><div>턱솔이음</div></li>
  <li><div>십자쌍장부이음</div></li>
  <li><div>주먹장부이음</div></li>
  <li><div>반턱주먹장부이음</div></li>
  <li><div>턱걸이주먹장부이음</div></li>
  <li><div>두겹주먹장부이음</div></li>
  <li><div>숨은주먹장부이음</div></li>
  <li><div>쌍주먹장부이음</div></li>
  <li><div>겹주먹장부이음</div></li>
  <li><div>내외주먹장부이음</div></li>
  <li><div>메뚜기장부이음</div></li>

</ul>

<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>턱이음</div></li>
  <li><div>반턱이음</div></li>
  <li><div>갈퀴이음</div></li>
  <li class="ui-widget-header" style="margin:0px;"><div>엇갈이이음</div></li>
  <li><div>엇걸이이음</div></li>
  <li><div>엇걸이반턱이음</div></li>
  <li><div>엇걸이촉이음</div></li>
  <li><div> 엇걸이홈이음</div></li>
  <li class="ui-widget-header" style="margin:0px;"><div>빗이음</div></li>
  <li><div>빗이음</div></li>
  <li><div>엇빗이음</div></li>
  <li><div>빗턱이음</div></li>
  <li><div>빗걸이이음</div></li>
  <li><div>엇턱이음</div></li>
  <li><div>반턱빗이음</div></li>
</ul>

<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>은장이음</div></li>
  <li><div>나비장이음</div></li>
  <li><div>자촉이음</div></li>
  <li><div> 도투마리은장이음</div></li>
  <li class="ui-widget-header" style="margin:0px;"><div>촉이음</div></li>
  <li><div> 촉이음</div></li>
  <li class="ui-widget-header" style="margin:0px;"><div>장부맞춤(1/2)</div></li>
  <li><div>통장부맞춤</div></li>
  <li><div>장부맞춤</div></li>
  <li><div>쌍장부맞춤</div></li>
  <li><div>십자쌍장부맞춤</div></li>
  <li><div> 안장맞춤</div></li>
    <li><div>흘림장부맞춤</div></li>
  <li><div>기름장장부맞춤</div></li>
  <li><div>턱장부맞춤</div></li>

</ul>


</div>








<!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->







<h2 style="margin-left:70px;">2) 맞춤</h2>
<div  style="display:flex; margin:0px auto !important; width:800px;" >
<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>장부맞춤(2/2)</div></li>
  <li><div> 쌍턱장부맞춤</div></li>
  <li><div>빗턱장부맞춤</div></li>
  <li><div>턱솔장부맞춤</div></li>
  <li><div>턱솔장부맞춤</div></li>
  <li><div>지옥장부맞춤</div></li>
  <li><div>주먹장부맞춤</div></li>
  <li><div>턱걸이주먹장부맞춤</div></li>
  <li><div>두겹주먹장부맞춤</div></li>
  <li><div> 쌍주먹장부맞춤</div></li>
  <li><div> 내림주먹장부맞춤</div></li>
  <li><div>메뚜기장부맞춤</div></li>
  <li><div>빗장부맞춤</div></li>
  <li><div>부채장부맞춤</div></li>
  <li><div>갈퀴맞춤</div></li>

</ul>
<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>턱맞춤</div></li>
  <li><div>반턱맞춤</div></li>
  <li><div>반턱연귀맞춤</div></li>
  <li><div>삼분턱맞춤</div></li>
  <li><div>양걸침턱맞춤</div></li>
  <li><div>외걸침턱맞춤</div></li>
  <li><div>어깨빗따기맞춤</div></li>
  <li><div>새부리따기맞춤</div></li>
  <li class="ui-widget-header" style="margin:0px;"><div>숭어턱맞춤</div></li>
  <li><div> 숭어턱맞춤</div></li>
  <li class="ui-widget-header" style="margin:0px;"><div>촉맞춤</div></li>
  <li><div> 촉맞춤</div></li>
  </ul>

<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>연귀맞춤</div></li>
  <li><div>연귀산지맞춤</div></li>
  <li><div>연귀장부맞춤</div></li>
  <li><div>연귀쌍장부맞춤</div></li>
  <li><div>연귀쌍장부맞춤</div></li>
  <li><div>반연귀맞춤</div></li>
  <li><div>바깥연귀맞춤</div></li>
  <li><div>안팎연귀맞춤</div></li>
  <li><div>제비촉맞춤</div></li>
  <li><div>연귀괴불쪽맞춤</div></li>
  <li><div>삼방연귀맞춤</div></li>
  <li><div> 사개연귀맞춤</div></li>
  <li><div> 숨은사개연귀맞춤</div></li>
</ul>


</div>

<h2 style="margin-left:70px;">3) 쪽매</h2>
<div  style="display:flex; margin:0px auto !important; width:800px;"   >
<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>턱쪽매</div></li>
  <li><div>반턱쪽매</div></li>
  <li><div>재혀쪽매</div></li>
  <li><div>오늬쪽매</div></li>
</ul>

<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>혀쪽매</div></li>
  <li><div>제혀쪽매</div></li>
  <li><div>딴혀쪽매</div></li>
  <li><div>양제혀쪽매</div></li>
  <li><div>턱제혀쪽매</div></li>
  </ul>

<ul class="menu">
  <li class="ui-widget-header" style="margin:0px;"><div>은장쪽매</div></li>
  <li><div>나비장쪽매</div></li>
  <li><div>거멀띠장쪽매</div></li>
  <li><div>틈막이대쪽매</div></li>
  <li><div>은살대꽂기</div></li>
</ul>


</div>


<hr>


</div>


  <div style="margin:30px 0px 30px 0px; width:100%; height:100%; padding-bottom:30px; " >


    {% for post in site.categories.structure %}

  <div style="width:100%; height:200px; display:inline-block; margin-bottom:30px; ">
  
  	<a href="{{ post.url }}">
    <div style="width:100%; height:200px; overflow: visible">
  	<img style="width:70%; height:auto; margin:0px auto; display:block; border:1px solid #a3a3a3;" src="{{site.baseurl}}/post_images/{{post.link}}.png" alt="basicConstruction">
    </div>
 

</div>

{% endfor %}

</div>
		

<!-- {% include footer.html %} -->
    </div>
</div>
