---

---
{% include head.html %}
<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}
<div class="sub_menu_image">

	<ul style="display:flex">
<a href="{{site.baseurl}}/gallery/index.html"><li>Structure / Building</li></a>
<a href="{{site.baseurl}}/gallery/pattern.html"><li>Traditional Pattern / Design</li></a>
<strong><a href="{{site.baseurl}}/gallery/wood.html"><li>Wood Structure</li></a></strong>
</ul>

		<div style="margin-left:30px;">
				<h3>Wood Structure</h3>
		</div>

</div>

<div class="main_image">

		<div class="image">
			<img src="http://cfs4.blog.daum.net/image/17/blog/2007/04/23/15/05/462c4c9230ef5&filename=%EB%AC%B8%ED%8C%90%EC%A7%9C%EC%9E%84%EC%83%88.jpg" alt="">
		<h3>Basic Construction(1)</h3>
		<h4>2017 05 18</h4>
		</div>

		<div class="image">
			<img src="http://cfs6.blog.daum.net/image/21/blog/2007/04/23/15/12/462c4e3a5f81c&filename=%ED%86%B5%ED%8C%90%EC%A7%9C%EC%9E%84.jpg" alt="">
		

		<h3>Basic Construction(2)</h3>
		<h4>2017 05 18</h4>
		</div>

		<div class="image">
			<img src="http://cfs13.blog.daum.net/image/25/blog/2008/10/05/21/53/48e8b8af0199c&filename=4321213.jpg" alt="">
		<h3>Basic Construction(3)</h3>
		<h4>2017 05 18</h4>
		</div>

		<div class="image">
			<img src="http://cfile27.uf.tistory.com/image/182A77254C9D4F3F8BFF61" alt="">
			<h3>Basic Construction(4)</h3>
			<h4>2017 05 18</h4>
		</div>

	</div> 

	<div class="main_image" style="margin-top:20px">

		<div class="image">
			<img src="http://cfile4.uf.tistory.com/image/1629AC254C9D4CF36A37D4" alt="">
		<h3>Basic Construction(5)</h3>
		<h4>2017 05 18</h4>
		</div>

		<div class="image">
			<img src="http://cfile29.uf.tistory.com/image/177DA5264C9D4C31759D5E" alt="">
		

		<h3>Basic Construction(6)</h3>
		<h4>2017 05 18</h4>
		</div>

		<div class="image">
			<img src="http://cfs5.blog.daum.net/image/33/blog/2007/06/01/23/02/466026ed5de6b&filename=%ED%8F%89.jpg" alt="">
		<h3>Basic Construction(7)</h3>
		<h4>2017 05 18</h4>
		</div>

		<div class="image">
			<img src="http://cfs2.blog.daum.net/image/19/blog/2007/06/01/22/57/466025b84e453&filename=%EC%97%B0.jpg" alt="">
			<h3>Basic Construction(8)</h3>
			<h4>2017 05 18</h4>
		</div>

	</div>

	<div class="main_image" style="margin-top:20px; margin-bottom:30px">

		<div class="image">
			<img src="http://cfs6.blog.daum.net/image/21/blog/2007/04/23/15/12/462c4e3a5f81c&filename=%ED%86%B5%ED%8C%90%EC%A7%9C%EC%9E%84.jpg" alt="">
		<h3>Basic Construction(5)</h3>
		<h4>2017 05 18</h4>
		</div>

		<div class="image">
			<img src="http://cfs7.blog.daum.net/image/25/blog/2007/06/01/22/53/466024f59d1b2&filename=%EA%B0%9C.jpg" alt="">
		

		<h3>Basic Construction(6)</h3>
		<h4>2017 05 18</h4>
		</div>

		<div class="image">
			<img src="http://cfile27.uf.tistory.com/image/182A77254C9D4F3F8BFF61" alt="">
		<h3>Basic Construction(7)</h3>
		<h4>2017 05 18</h4>
		</div>

		<div class="image">
			<img src="http://cfile29.uf.tistory.com/image/157D74264C9D4C1B33B2DF" alt="">
			<h3>Basic Construction(8)</h3>
			<h4>2017 05 18</h4>
		</div>

	</div>


</div>

{% include footer.html %}
    </div>
</div>
