---

---
{% include head.html %}

<link rel="stylesheet" href="{{site.baseurl}}/post.css">

<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}

<div class="sub_menu_image">


<ul style="display:flex">
<a href="{{site.baseurl}}/gallery/index.html"><li>Structure / Building</li></a>
<a href="{{site.baseurl}}/gallery/pattern.html"><li>Traditional Pattern / Design</li></a>
<a href="{{site.baseurl}}/gallery/wood.html"><strong><li>Wood Structure</li></strong></a>
</ul>

		<div style="margin-left:30px;">
				<h3>Wood Structure</h3>
		</div>

    <div class="">



    </div>





		

{% include footer.html %}
    </div>
</div>
