---

---

{% include head.html %}
<div id="mainFrame_container">
        <div class="mainFrame">
{% include header.html %}
<div class="sub_menu_image">


            <div id="mainContainer_in">
                <!-- <p class="breadcrumbs"><a href="../index.html">Home</a><span> &gt; </span>About PTCAT</p> -->
                <div id="main_content" style="padding:0px 30px 0px 10px"><div class="pagetitle_container"><h2>People</h2></div>

<div style="display:flex">

    <img style="width:200px; height:250px" src="{{site.baseurl}}/people/hwang.jpg" alt="">
        <div style="margin-left:25px; line-height:160%">
            <h4>Profile</h4>
            Jinha Hwang (Principal Investigator) <br>
Professor of Materials Science & Engineering <br>
Director of HURIST <br>
College of Engineering <br>
P: 82-2-320-3069 <br>
F: 82-2-333-0127 <br>
E: jhwang@wow.hongik.ac.kr <br>
        </div>   

                <div style="margin-left:25px; line-height:160%">
            <h4>Research Interests</h4>
       3D Printing Materials & Processing; Smart <br>
Composites; Cementitious Materials &  <br>
Processing ; Atomic Layer Depositions <br>
(Processing & Applications); Semiconductor <br>
Materials (TFTs and Nonvolatile Memories); <br>
Impedance Spectroscopy <br>    
        </div>   

</div>   
                
        

</div>
</div></div>
            </div>
            
            {%include footer.html%}
        </div>
    </div>
</body>
</html>
<!-- Localized -->