 <div id="footer">
                <div class="footer_logo_northwestern"><a href="http://northwestern.edu" target="_blank"><img alt="Northwestern University" height="112" src="{{site.baseurl}}/images/Logo.png" width="150" /></a></div>
<a href="www.northwestern.edu" ></a> 
<div class="footer_text">
<div class="footer_links">
<p><a href="index.html">PTCAT Home</a> | <a href="about/contact-us/index.html">Contact Us</a> | <a href="http://policies.northwestern.edu" target="_blank">University Policy Statements</a> | <a href="http://planitpurple.northwestern.edu" target="_blank">Plan-It Purple</a></p>
</div>
<div class="footer_info">
<p>PTCAT (PTCAT)<br />
 Chambers Hall 600 Foster Street, Evanston, IL 60208-4057 | Phone: 847-491-2527 | Email: <a href="mailto:nico@northwestern.edu" target="_blank">nico@northwestern.edu</a><br />
 &#169; 2013 PTCAT - All rights reserved.</p>
</div>
</div>
            </div>