
<link rel="stylesheet" href="{{site.baseurl}}/post.css">

<div style="box-shadow: 0px 2px 3px #f3f3f3; width:976px; margin:0px auto; padding:20px 0px 20px 0px; margin-top:-20px;">

<div class="title" style=" color:purple; margin-left:33px; margin-bottom:20px; font-size:18px">Information - Material</div>

<ul id="list" style="margin-top:20px">

<li style="color:purple">Material1</li>
<li>Material2 </li>
<li>Material3 </li>
<li>Material4 </li>
<li>Material5 </li>
<li>Material6 </li>

</ul>

</div>