
<link rel="stylesheet" href="{{site.baseurl}}/post.css">

<div style="box-shadow: 0px 2px 3px #f3f3f3; width:976px; margin:0px auto; padding:20px 0px 20px 0px; margin-top:-20px;">

<div class="title" style=" color:purple; margin-left:33px; margin-bottom:20px; font-size:18px">Information - Material</div>

<ul id="list" style="margin-top:20px;">

<a href=""><li style="color:purple; ">황토</li></a>
<a href=""><li>백토 </li></a>
<a href=""><li>석고 </li></a>
<a href=""><li>석회 </li></a>
<a href=""><li>전분 </li></a>
<a href=""><li>해초 </li></a>
<a href=""><li>무기결합재 </li></a>

</ul>

</div>